.flex-container {
    margin: 40px auto;
    width: 90%;
    outline: 3px solid;
    height: 300px;
    resize: both;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
}

.flex-item {
    flex-basis: 100px;
    flex-grow: 1;
}